.menu{
    display: flex;
    justify-content: space-between;
    background-color:#f78c00c4;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
}
body{
    margin: 0px;
    /* modify background color here*/
    background-color:#b4610350;
    
}


a{
    text-decoration :none
}
a:link{
    color:#ffffff;
}

/*a:old*/
/*a:clicked*/
/*a:seen{*/
a:visited{
    color: #00000093;
}

.bodyimg p{
    color:#f7f2f2;
    font-size: 55px;
    font-family: fantasy;
    position: absolute;
    top:20%;
    left:50%;
    transform: translate(-50%,-50%);
}


.bodyimg h3{
    color:#f7f2f2;
    font-family: fantasy;
    font-size: 30px;
    width: 1600px;
    position: absolute;
    top:40%;
    left:40%;
    text-align: center;
    transform: translate(-40%, -40%);
}


.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    font-family: sans-serif;
    
}
.grid img{
    border: 2px solid #ff7300;
    border-radius: 50px;
}
.origami {
    
    border-radius: 20px;
    background-color: #bb4b006e;
    /* modify margin and padding here*/
    padding: 30px;
    margin: 25px;
    width:310px;
    font-family: fantasy;
    
}

/* .origami:hover{ */
/*.origami : mouseover{*/
/*.origami:link{*/
.origami:hover{

    transform: scale(1.2);
}
